<% @movies.each do |movie| %>
    <div class="booyah-box col-10 offset-1">
        <h1><%= link_to movie.title, movie_path(movie) %></h1><br />
        <i><<%= movie.rating %></i><br /><br />
        <p><%= movie.review %></p><br />
        
    <% if movie.user.present? %>
      <small><%= movie.user.email %></small>
    <% end %>
    
    </div>
    
    <%= will_paginate @movies %>
    
<% end %>