<div class="booyah-box col-10 offset-1">
  <h1><%= @movie.title %></h1>
  <i><%= @movie.rating %></i>
  <br /><br />
  <p><%= @movie.review %></p>
  <div class="float-right">
    <% if current_user && current_user == @movie.user %>
      <%= link_to 'Edit', edit_movie_path(@movie), class: 'btn btn-primary' %>
    <% end %>
    <%= link_to 'Destroy', movie_path(@movie), method: :delete, data: {confirm: 'Are you sure you want to delete this?'}, class: 'btn btn-danger' %>
  </div>
</div>

<div class="clear"></div>
<%= simple_form_for @review, url: movie_reviews_path(@movie) do |f| %>
  <%= f.input :message %>
  <%= f.input :rating %>
  <%= f.submit "Add your Review!", class: 'btn btn-primary' %>
<% end %>